* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.multiple-image-upload__images__image-blk {
  position: relative;
}

.multiple-image-upload__images__image-blk:hover .multiple-image-upload__images__image-overlay {
  visibility: visible;
}

.multiple-image-upload__images__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(36 14 14 / 50%);
  color: #fff;
  visibility: hidden;
}

.multiple-image-upload__images__delete-btn {
  width: 25px;
  height: 28.26px;
}

.btn--link, .btn--nostyle {
  background-color: transparent;
  color: unset;
  border-radius: unset;
  padding: unset;
  text-align: unset;
  font-family: "Moderat","Inter",sans-serif;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}



#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #ffffff;;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}


#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  display: none;
} */




#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.4s ease-in-out;
}


#navbar li a:hover,
#navbar li a.active {
  color: blue;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: blue;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar .cartDesktop{
  cursor: pointer;
  font-size: 30px;
}

/* CART SIDE MENU */
*[data-v-7d194230], *[data-v-7d194230]::after, *[data-v-7d194230]::before {
  box-sizing: inherit;
}

.summary_body {
  width: 100%;
}

.summary__cart {
  border-bottom: 1px solid #e0e0e0;
  height: calc(100vh - 400px);
  margin: 0 -30px 24px;
  min-height: 200px;
  overflow: auto;
  padding: 0 30px 10px;
}

#navbar .summary_cart_empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

#navbar .summary_cart_empty_msg{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}

#navbar .btn--sm{
    font-size: 1rem;
    line-height: 0.5rem;
    padding: 1.5rem 2.5rem;
}

#navbar .summary_cart_item_product{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#navbar .summary_cart_item_product_name{
  color: #4f4f4f;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 7px;
}

#navbar .summary_cart_item_product_variant{
  color: #828282;
  display: block;
  font-size: 14px;
  line-height: 17px;
}

#navbar .summary_cart_item_product_price{
  color: #828282;
  display: block;
  font-size: 14px;
  line-height: 17px;
}

#navbar .action {
  display: flex;
  align-items: center;
}

#navbar .action__value {
  width: 34px;
  text-align: center;
}

#navbar .action__minus, #store .action__plus {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

svg:not(:root) {
  overflow: hidden;
}



#navbar .summary__cart__cta {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0;
}

#navbar .summary__cart__cta__btn {
  align-items: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: #4f4f4f;
  display: flex;
  font-size: 12px;
  padding: 4px;
  transition: color 300ms ease;
  font-weight: 700;
}

#navbar .summary__cart__cta__btn__icon {
  display: block;
  fill: currentColor;
  height: auto;
  margin-right: 5px;
  width: 14px;
}

.form_item_flex{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.form_item{
  margin-bottom: 50px;
  margin-left: 10px;
}



/* Define color variables */
:root {
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #fff;
  --gray: #9b9b9b;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

/* Rest of your styles */
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary);
  font-weight: 700;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
}



.form_input{
  box-shadow: 0 0 50px 15px #bcd5e2;
  display: block;
  width: 90%;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 1.43;
  color: inherit;
  font-family: inherit;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #c7cbe8;
  border-radius: 12px;
  outline: none;
  resize: none;
  background-color: #ffffff;
  box-shadow:#050402;
  /* box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21); */
  /* box-shadow: 0 0 50px 15px #47616e9c; */
  transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}



.form_textarea{
  display: block;
  width: 90%;
  height: 100px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.43;
  color: inherit;
  font-family: inherit;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  outline: none;
  resize: none;
  background-color: #ffffff;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}


.discount_group[data-v-7ef2909e] {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
}

.discount_cta[data-v-7ef2909e] {
  background-color: #74bf5e;
  color: #fff;
  flex: 0 0 auto;
  margin-left: 10px;
  margin-right: 20px;
  text-transform: capitalize;
  padding: 7px 20px 5px 20px;
  font-size: 20px;
  border: #050402;
  border-radius: 5px;
}

/*  */
 #navbar3 .summary__footer {
  padding-top: 20px;
    position: relative;
    margin-top: 10px;
    bottom: 0px;
    margin-right: 25px;
}

#navbar .summary__footer {
    padding-top: 100%;
    position: relative;
    margin-top: 10px;
    bottom: 0px;
    /* margin-right: 25px; */
}

#navbar2 .summary__footer{
  padding-top: 20px;
  position: relative;
  bottom: 0px;
  margin-top: 30%;
  margin-right: 20px;
}

.summary__footer__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

#navbar .summary__footer__item__value--2 {
  font-weight: 600;
  font-size: 18px;
}

#navbar .summary__footer__item:last-child, #navbar2 .summary__footer__item:last-child, #navbar3 .summary__footer__item:last-child {
  margin-bottom: 100px;
}

/* CART BUTTON STYLE */
.btn{
    align-items: center;
    background-color: #0a0e27;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.9rem;
    padding: 20px 0 20px 0;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
}

.btn_ship{
  align-items: center;
  background-color: #0a0e27;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: flex-start;
  line-height: 1.9rem;
  padding: 20px 60px 20px 55px; 
  margin-bottom: 5%;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
}

.btn_info{
  align-items: center;
  background-color: #0a0e27;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: flex-start;
  line-height: 1.9rem;
  padding: 20px 60px 20px 55px;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
}

.btn_cart{
  align-items: center;
  background-color: #0a0e27;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: flex-start;
  line-height: 1.9rem;
  padding: 1rem 8rem;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
}

.btn--primary {
  background-color: #0a0e27;
  color: #fff;
}

.btn--block {
  justify-content: center;
  text-align: center;
  width: 100%;
}

.blocks {
  /* justify-content: center; */
  text-align: center;
  display: block;
  width: 100%;
  padding: 24px, 30px;
}

#mobile {
  display: none;
  align-items: center;
}


#close {
  display: none;
}

#close2 {
  display: none;
}

#close3{
  display: none;
}

.payment_process, #payment_process2{
  /* display: flex;
  flex-direction: column; */
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}



/* #payment_process {
  display: none;
  color: #222;
  font-size: 14px;
  cursor: pointer;
} */


/* END OF NAVBAR */


/* Feature Boxes */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #fff2e5;
} 
/* END OF FEATURE BOX */



#page-header {
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
} 


  /* shop page Beginning*/
  .soldout-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:320px;
    border:3px solid #f15c60;
    border-radius:10px;
    color:#f15c60;
    font-size:20px;
    transform:rotate(15deg) translateY(15px);
  }
  .soldout-container > * {
    opacity:0.8;
  }
  .soldout-container > div:nth-child(2) {
    background-color:#f15c60;  
  }
  .soldout-container .sold-out {
    font-size:1.5em;
    font-weight:700;
  }
  .soldout-container .divider {
    height:2px;
    width:98%;
  }
  .deets {
    opacity:1;
    background-color:rgba(255,255,255,0.5);
  }
  .almost {
    font-size:13px;
    border:3px solid #337ab7;  
    color:#337ab7;
  }
  .almost > div:nth-child(2) {
    background-color:#337ab7;    
  }

  .section-p1 {
      padding: 40px 80px;
  }
  
  #Product1 {
      text-align: center;
  }
  
  #Product1 .pro-container {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      flex-wrap: wrap;
  }
  
  #Product1 .pro {
      width: 19%;
      min-width: 250px;
      padding: 10px 12px;
      border: 1px solid #cce7d0;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
      margin: 15px 0;
      transition: 0.2s ease;
      position: relative;
  }

  .pro a{
      text-decoration: none;
  }
  
  #Product1 .pro:hover {
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  }
  
  #Product1 .pro img {
      width: 100%;
      border-radius: 20px;
  }
  
  #Product1 .pro .des {
      text-align: start;
      padding: 10px 0;
  }
  
  #Product1 .pro .des span {
      font-size: 20px;
  }
  
  #Product1 .pro .des h5 {
    padding-top: 7px;
    color: #485161de;
    font-size: 16px;
    font-family: auto;
  }
  
  #Product1 .pro .des i {
      font-size: 12px;
      color: rgb(243, 181, 25);
  }
  
  #Product1 .pro .des h4 {
      padding: 7px;
      font-size: 20px;
      font-weight: 900;
      color: #137a54;
  }
  
  #Product1 .pro .cart {
      width: 40px;
      height: 30px;
      line-height: 40px;
      border-radius: 50px;
      background-color: #e8f6ea;
      font-weight: 500;
      color: black;
      border-color: 1px solid #cce7d0;
      position: absolute;
      bottom: 20px;
      right: 10px;
      cursor: pointer;
  } 

  
  .proItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px; /* Adjust the spacing as needed */
  }
  
  .add-icon, .minus-icon {
    background-color: #f7d4d4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }
  
  .add-icon__svg, .minus-icon__svg {
    color: black;
    /* width: 24px;
    height: 24px; */
  }
  
  .proValue{
    margin-top: 8%;
  }

  #product1 .pro .add{
      width: 40px;
      height: 30px;
      line-height: 40px;
      border-radius: 50px;
      background-color: #e8f6ea;
      font-weight: 500;
      color: black;
      border-color: 1px solid #cce7d0;
      position: absolute;
      /* postion: absolute; */
  }
  
   
  #page-header {
      background-image: url(./assets/img/b2.jpg);
      width: 100%;
      height: 40vh;
      background-size: cover;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      padding: 14px;
  }
  
  #page-header h2,
  #page-header p {
      color: #fff;
  }
  
  #pagination {
      text-align: center;
  }
  
  #pagination a {
      text-decoration: none;
      background-color: #088178;
      padding: 15px 20px;
      border-radius: 4px;
      color: white;
  }
  
  #pagination a i {
      font-size: 16px;
      font-weight: 600;
  }
  /* single product */
  
  #prodetails {
      display: flex;
      margin-top: 20px;
  }
  
  #prodetails .single-pro-image {
      width: 40%;
      margin-right: 50px;
  }
  
  .small-img-group {
      padding-top: 10px;
      gap: 12px;
      display: flex;
      justify-content: space-between;
  }

img {
  transition: all 1s;
}

  img:hover {
    transform: scale(1.05);
  }
  
  .small-img-col {
      cursor: pointer;
      flex-basis: 24%;
  }
  
  #prodetails .single-pro-details {
      width: 50%;
      padding-top: 30px;
  }
  
  #prodetails .single-pro-details h4 {
      padding: 40px 0 20px 0;
  }
  
  #prodetails .single-pro-details h2 {
      font-size: 26px;
  }
  
  #prodetails .single-pro-details select {
    display: block;
    padding: 1rem 8rem;
    /* margin-bottom: 30px; */
    /* margin-top: 30px; */
    margin: 10px 0px;
    border-color: black;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
  }

  #prodetails .select_option_name  {
    padding: 1rem 8rem;
  }

  #prodetails .select_option_value  {
    padding: 1rem 8rem;
  }

  #prodetails .product_quantity {
    margin: 15px 0 15px 0;
  }
  
  #prodetails .product_quantity .action{
    align-items: center;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-evenly;
    width: 40%;

  }

  #prodetails .product_quantity .action__btn{
      align-items: center;
      background-color: #f2f2f2;
      border-radius: none;
      display: flex;
      flex: 0 0 auto;
      font-size: 20px;
      height: 40px;
      justify-content: center;
      line-height: 20px;
      width: 50px;
      color: black;
      margin-left: 1.5%;
  }

  #prodetails .product_quantity .action__value{
    flex: 0 0 auto;
    font-size: 18px;
    line-height: 18px;
    min-width: 60px;
  }

  *[data-v-7be1d382], *[data-v-7be1d382]::after, *[data-v-7be1d382]::before {
    box-sizing: inherit;
}

  #prodetails .single-pro-details input {
      width: 50px;
      height: 47px;
      padding-left: 10px;
      font-size: 16px;
      margin-right: 10px;
  }
  
  #prodetails .single-pro-details input:focus {
      outline: none;
  }
  
  #prodetails .single-pro-details button {
      background-color: #0a0e27;
      color: white;
  }
  
  #prodetails .single-pro-details span {
      line-height: 25px;
  }


/*About Page*/
  
/* #page-header.about-header {
  background-image: url(./component/Image/about/banner.png);
} */

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding-left: 40px;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
} 
/* END OF ABOUT PAGE */

/* CONTACT PAGE */
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span {
  font-size: 20px;
}

#contact-details .details h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
/* END OF CONTACT PAGE */


/* CART PAGE */
#cart{
  overflow-x: auto
}

#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img{
  width: 70px;
}

#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px
}

#cart table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0
}

#cart table tbody tr td{
  padding-top: 25px
}

#cart table tbody td{
  font-size: 13px
}

#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between
}

#coupon{
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}

#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1
}

#coupon button,
#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px
}

#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px
}

#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td{
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

#subtotal table
/* END OF CART PAGE */

/* BLOG PAGE */
/* Blog Page */
  
/* #page-header.blog-header {
  background-image: url(./component/Image/Banner/b19.jpg);
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
  padding-bottom: 90px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: black;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: blue;
}

#blog .blog-details a:hover:after {
  background-color: blue;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
} */



/* NEWSLETTER */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* background-image: url(./component/Image/Banner/b14.png); */
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #088178;
}

#newsletter p span {
  color: red;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} 



/*FOOTER*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
}

footer p {
  font-size: 15px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 15px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: blue;
}

footer .copyright {
  width: 100%;
  text-align: center;
} 



/* Start media query */
 


@media screen and (max-width:799px) {
  .section-p1 {
      padding: 40px 40px;
  }

  .btn_ship{
    align-items: center;
    background-color: #0a0e27;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.9rem;
    padding: 20px 60px 20px 55px; 
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
  }
  
  .btn_info{
    align-items: center;
    background-color: #0a0e27;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.9rem;
    padding: 20px 60px 20px 55px;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
  }
  
  .btn_cart{
    align-items: center;
    background-color: #0a0e27;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.9rem;
    padding: 1rem 8rem;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
  }
  #navbar, #navbar2, #navbar3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -410px;
      height: 100vh;
      width: 415px;
      background-color: #ffffff;;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.4s;
      overflow-y: auto;
  }

#navbar .summary_cart_item_product {
    margin-top: 12px;
}

  #navbar .action {
    margin-right: 20px;
}

#navbar .summary__cart__cta {
  margin-right: 20px
}

#navbar .summary_cart_item_product_price {
  margin-left: 12px;
}

#navbar .summary_cart_item_product_variant {
  margin-left: 12px;
}

.summary__footer__item {
  margin-left: 12px;
}

  #navbar2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -410px;
    height: 100vh;
    width: 410px;
    background-color: #ffffff;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.4s;
}
#navbar2.active2{
  right: 0px;
}

  #navbar.active, #navbar3.active3 {
      right: 0px;
  }

  #navbar li {
      margin-bottom: 25px;
  }
 #navbar .cartDesktop{
    display: none;
  }
  #navbar .cartNumber{
    display: none !important;
  }

  #mobile {
      display: flex;
      align-items: center;
  }
  #mobile i {
      color: #1a1a1a;
      font-size: 24px;
      padding-left: 20px;
  }
  #mobile #cart{
    cursor: pointer;
    font-size: 30px;
  }

  #close {
      display: initial;
      position: absolute;
      top: 30px;
      right: 30px;
      color: #222;
      font-size: 24px;
      cursor: pointer;
  }
  #close2 {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #222;
    font-size: 24px;
    cursor: pointer;
}

#close3 {
  display: initial;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #222;
  font-size: 24px;
  cursor: pointer;
}
  #payment_process, #payment_process2, #payment_process3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 14px;
    cursor: pointer;
    gap: 30px;
    
}


  #lg-bag {
      display: none;
      cursor: pointer;
  }
  #feature {
      justify-content: center;
  }
  #feature .fe-box {
      margin: 15px 15px;
  }
  #Product1 .pro-container {
      justify-content: center;
  }
  #Product1 .pro {
      margin: 15px;
  }
  #banner {
      height: 20vh;
  }
  #sm-banner .banner-box {
      min-width: 100%;
      height: 30vh;
  }
  #banner3 {
      padding: 0 40px;
  }
  #banner3 .banner-box {
      width: 28%;
  }
  #newsletter .form {
      width: 70%;
  }
}

/* @media screen and (max-width: 375px), (max-width: 390px), (max-width: 393px) {
.section-p1 {
    padding: 40px 40px;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -380px;
  height: 100vh;
  width: 390px;
  background-color: #ffffff;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
  padding: 80px 0 0 10px;
  transition: 0.4s;
}

#navbar.active {
    right: 0px;
}

#navbar li {
    margin-bottom: 25px;
}

#navbar .cartDesktop{
  display: none;
}

#navbar .cartNumber{
  display: none !important;
}

#mobile {
    display: flex;
    align-items: center;
}

#mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
}

#mobile #cart{
  cursor: pointer;
  font-size: 30px;
}

#close, #close2, #close3 {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #222;
    font-size: 24px;
    cursor: pointer;
}

#payment_process, #payment_process2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #222;
  font-size: 14px;
  cursor: pointer;
}

#lg-bag {
    display: none;
    cursor: pointer;
}

#feature {
    justify-content: center;
}

#feature .fe-box {
    margin: 15px 15px;
}

#Product1 .pro-container {
    justify-content: center;
}

#Product1 .pro {
    margin: 15px;
}

#banner {
    height: 20vh;
}

#sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
}

#banner3 {
    padding: 0 40px;
}

#banner3 .banner-box {
    width: 28%;
}

#newsletter .form {
    width: 70%;
}

} */

@media screen and (min-width:799px) {
  .section-p1 {
      padding: 40px 40px;
  }
  #navbar, #navbar2, #navbar3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -410px;
      height: 100vh;
      width: 410px;
      background-color: #ffffff;;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 20px 0 20px;
      transition: 0.4s;
      overflow-y: auto;
  }
 
  /* #navbar3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -410px;
    height: 100vh;
    width: 410px;
    background-color: #ffffff;;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 20px 0 20px;
    transition: 0.4s;
} */

#navbar3.active3{
  right: 0px;
}
#navbar2.active2{
  right: 0px;
}
  #navbar.active {
      right: 0px;
  }
  #navbar li, #navbar2 li, #navbar3 li {
      margin-bottom: 25px;
      padding: 81px 5px 5px 20px;
      cursor: pointer;
  }

  #navbar li :not(first-child)::before {
    content: ">";
    display: inline-block;
    padding-right: 10px;
}
  
 #navbar .cartDesktop{
    display: none;
  }
  #navbar .cartNumber{
    display: none !important;
  }

  #mobile {
      display: flex;
      align-items: center;
  }
  #mobile i {
      color: #1a1a1a;
      font-size: 24px;
      padding-left: 20px;
  }
  #mobile #cart{
    cursor: pointer;
    font-size: 30px;
  }

  #close, #close2, #close3 {
      display: initial;
      position: absolute;
      top: 30px;
      right: 30px;
      color: #222;
      font-size: 24px;
      cursor: pointer;
  }

  #payment_process, #payment_process2, #payment_process3 {
    display: flex;
    flex-direction: row;
    color: #222;
    font-size: 14px;
    /* cursor: pointer; */
    top: 30px;
    left: 30px;
    position: absolute;
    top: -5%;
    left: 8.5%;
    justify-content: flex-end;
}

/* #payment_process2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #222;
  font-size: 14px;
  cursor: pointer;
} */
  #lg-bag {
      display: none;
      cursor: pointer;
  }
  #feature {
      justify-content: center;
  }
  #feature .fe-box {
      margin: 15px 15px;
  }
  #Product1 .pro-container {
      justify-content: center;
  }
  #Product1 .pro {
      margin: 15px;
  }
  #banner {
      height: 20vh;
  }
  #sm-banner .banner-box {
      min-width: 100%;
      height: 30vh;
  }
  #banner3 {
      padding: 0 40px;
  }
  #banner3 .banner-box {
      width: 28%;
  }
  #newsletter .form {
      width: 70%;
  }
} 

@media only screen and (max-width: 600px) {

  .section-p1 {
      padding: 20px;
  }


  .btn_ship{
    align-items: center;
    background-color: #0a0e27;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.9rem;
    padding: 20px 60px 20px 55px; 
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
  }
  
  .btn_info{
    align-items: center;
    background-color: #0a0e27;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.9rem;
    padding: 20px 60px 20px 55px;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
  }
  
  .btn_cart{
    align-items: center;
    background-color: #0a0e27;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.9rem;
    padding: 1rem 8rem;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }
  #navbar, #navbar2, #navbar3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -410px;
      height: 100vh;
      width: 100%;
      background-color: #ffffff;;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.4s;
      overflow-y: auto;
  }

#navbar .summary_cart_item_product {
    margin-top: 12px;
}

  #navbar .action {
    margin-right: 20px;
}

#navbar .summary__cart__cta {
  margin-right: 20px
}

#navbar .summary_cart_item_product_price {
  margin-left: 12px;
}

#navbar .summary_cart_item_product_variant {
  margin-left: 12px;
}

.summary__footer__item {
  margin-left: 12px;
}

  #navbar2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -410px;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.4s;
}
#navbar2.active2{
  right: 0px;
}

  #navbar.active, #navbar3.active3 {
      right: 0px;
  }

  #navbar li {
      margin-bottom: 25px;
  }
 #navbar .cartDesktop{
    display: none;
  }
  #navbar .cartNumber{
    display: none !important;
  }

  #mobile {
      display: flex;
      align-items: center;
  }
  #mobile i {
      color: #1a1a1a;
      font-size: 24px;
      padding-left: 20px;
  }
  #mobile #cart{
    cursor: pointer;
    font-size: 30px;
  }

  #close {
      display: initial;
      position: absolute;
      top: 30px;
      right: 30px;
      color: #222;
      font-size: 24px;
      cursor: pointer;
  }
  #close2 {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #222;
    font-size: 24px;
    cursor: pointer;
}

#close3 {
  display: initial;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #222;
  font-size: 24px;
  cursor: pointer;
}
  #payment_process, #payment_process2, #payment_process3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 14px;
    cursor: pointer;
    gap: 30px;
    
}


  #header {
      padding: 10px 30px;
  }
  h1 {
      font-size: 38px;
  }
  h2 {
      font-size: 32px;
  }
  #hero {
      padding: 0 20px;
      background-position: 55%
  }
  #feature {
      justify-content: space-between;
  }
  #feature .fe-box {
      width: 155px;
      margin: 0 0 15px 0;
  }
  #Product1 .pro {
      width: 100%;
  }
  #banner {
      height: 40vh;
  }
  #sm-banner .banner-box {
      height: 40vh;
  }
  #sm-banner .banner-box2 {
      margin-top: 20px;
  }
  #banner3 {
      padding: 0 20px;
  }
  #banner3 .banner-box {
      width: 100%;
  }
  #newsletter {
      padding: 40px 20px;
  }
  #newsletter .form {
      width: 100%;
  }
  footer .copyright {
      text-align: start;
  }  
  /*single product*/
  #prodetails {
      display: flex;
      flex-direction: column;
  }
  #prodetails .single-pro-image {
      width: 100%;
      margin-right: 0px;
  }
  #prodetails .single-pro-details {
      width: 100%;
  }

  /* Cart Page */
  #cart-add{
      flex-direction: column;
  }

  #coupon{
      width: 100%;
  }

  #subtotal{
      width: 100%;
      padding: 20px;
  }
  /* End of Cart Page */
  
  /*Blog page*/
  /* #blog {
      padding: 100px 20px 0 20px;
  }
  #blog .blog-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  #blog .blog-img {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 30px;
  }
  #blog .blog-details {
      width: 100%;
  } */


  /* About Page*/
  /* #about-head {
      flex-direction: column;
  }
  #about-head img {
      width: 100%;
      margin-bottom: 20px;
  }
  #about-head div {
      padding-left: 0px;
  }
  #about-app .video {
      width: 100%;
  } */
}






/* @media (max-width:477px) and (min-width: 375px) {
  .section-p1 {
      padding: 20px;
  }


  .btn_ship{
    align-items: center;
    background-color: #0a0e27;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.9rem;
    padding: 20px 60px 20px 55px; 
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
  }
  
  .btn_info{
    align-items: center;
    background-color: #0a0e27;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.9rem;
    padding: 20px 60px 20px 55px;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
  }
  
  .btn_cart{
    align-items: center;
    background-color: #0a0e27;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: flex-start;
    line-height: 1.9rem;
    padding: 1rem 8rem;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
  }
  #navbar, #navbar2, #navbar3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -410px;
      height: 100vh;
      width: 415px;
      background-color: #ffffff;;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.4s;
      overflow-y: auto;
  }

#navbar .summary_cart_item_product {
    margin-top: 12px;
}

  #navbar .action {
    margin-right: 20px;
}

#navbar .summary__cart__cta {
  margin-right: 20px
}

#navbar .summary_cart_item_product_price {
  margin-left: 12px;
}

#navbar .summary_cart_item_product_variant {
  margin-left: 12px;
}

.summary__footer__item {
  margin-left: 12px;
}

  #navbar2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -410px;
    height: 100vh;
    width: 410px;
    background-color: #ffffff;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.4s;
}
#navbar2.active2{
  right: 0px;
}

  #navbar.active, #navbar3.active3 {
      right: 0px;
  }

  #navbar li {
      margin-bottom: 25px;
  }
 #navbar .cartDesktop{
    display: none;
  }
  #navbar .cartNumber{
    display: none !important;
  }

  #mobile {
      display: flex;
      align-items: center;
  }
  #mobile i {
      color: #1a1a1a;
      font-size: 24px;
      padding-left: 20px;
  }
  #mobile #cart{
    cursor: pointer;
    font-size: 30px;
  }

  #close {
      display: initial;
      position: absolute;
      top: 30px;
      right: 30px;
      color: #222;
      font-size: 24px;
      cursor: pointer;
  }
  #close2 {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #222;
    font-size: 24px;
    cursor: pointer;
}

#close3 {
  display: initial;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #222;
  font-size: 24px;
  cursor: pointer;
}
  #payment_process, #payment_process2, #payment_process3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 14px;
    cursor: pointer;
    gap: 30px;
    
}


  #header {
      padding: 10px 30px;
  }
  h1 {
      font-size: 38px;
  }
  h2 {
      font-size: 32px;
  }
  #hero {
      padding: 0 20px;
      background-position: 55%
  }
  #feature {
      justify-content: space-between;
  }
  #feature .fe-box {
      width: 155px;
      margin: 0 0 15px 0;
  }
  #Product1 .pro {
      width: 100%;
  }
  #banner {
      height: 40vh;
  }
  #sm-banner .banner-box {
      height: 40vh;
  }
  #sm-banner .banner-box2 {
      margin-top: 20px;
  }
  #banner3 {
      padding: 0 20px;
  }
  #banner3 .banner-box {
      width: 100%;
  }
  #newsletter {
      padding: 40px 20px;
  }
  #newsletter .form {
      width: 100%;
  }
  footer .copyright {
      text-align: start;
  }  
 
  #prodetails {
      display: flex;
      flex-direction: column;
  }
  #prodetails .single-pro-image {
      width: 100%;
      margin-right: 0px;
  }
  #prodetails .single-pro-details {
      width: 100%;
  }


  #cart-add{
      flex-direction: column;
  }

  #coupon{
      width: 100%;
  }

  #subtotal{
      width: 100%;
      padding: 20px;
  }
} */