@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

header{
    position: fixed;
    top: 30px;
    width: clamp(300px, 80%, 1000px);
    background: #ffffffb1;
    backdrop-filter: blur(10px);
    padding: 8px 24px;
    border-radius: 50px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.109);
    animation: fadeDown 0.5s ease;
    font-family: 'Jost', sans-serif !important;
    font-size: 1.1em;
}
header h1{
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(1, 17, 30);
    font-family: 'Jost', sans-serif !important;
    margin: 0;
    padding: 9px 0;
    
}
header> nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    color: rgb(1, 17, 30);
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
    width: clamp(100px, 27%, 210px);
}
header ul a, header button{
    padding: 9px 16px;
    border-radius: 50px;
    transition: 0.3s;
}
header button:hover{
    scale: 1.05;
}
header ul a:hover{
    background: rgb(6, 13, 50);
    color: #ffffff;
}
header nav div{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 210px;
    justify-content: flex-end;
}
header div a:first-child button{
    background: rgb(3, 41, 75);
    color: #ffffff;
}
header div a:last-child button{
   border: 1px solid rgb(6, 13, 50);
}